body{
    margin: 0;
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}

header img{
    width: 80%;
    height: 400px;
    align-self: center;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

.cuerpo{
    display: flex;
    justify-content: center;
    flex-flow:column ;
}

.cuerpo p{
    width: 300px;
}

.cuerpo img{
    width: auto;
    height: 200px;
    align-self: center;
}